[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "pipenv run python manage.py runserver"
makemigrate = "pipenv run python manage.py makemigrations"
migrate = "pipenv run python manage.py migrate"
createsuperuser = "pipenv run python manage.py createsuperuser"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
